@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&family=Roboto:wght@400;700&display=swap');


:root{
    font-size: 16px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-family: 'Press Start 2P', cursive;

    --primary-color: crimson;
    --ligth-color: lavenderblush;
    --dark-color: rgb(36, 15, 19);
    --dark-color-medium: rgb(96, 27, 39);
    --secondary-color: dodgerblue;
}

*{
    padding: 0;
    margin: 0;
}

body {
    background-color: var(--ligth-color);
    display: grid;
}

.header{
    --shadow: 0px 0px 10px -0px var(--dark-color);
    background-color: var(--primary-color);
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    padding: 3rem 2rem 5rem 2rem;
    -webkit-box-shadow: var(--shadow);
    -moz-box-shadow: var(--shadow);
    box-shadow: var(--shadow);
    z-index: 1;
    contain: size;
    gap: 2rem;
}

.header > a {
    text-decoration: none;
    color: var(--dark-color);   
}    

.header__nav > a {
    text-decoration: none;
    color: var(--dark-color);
}
.header__nav > a:hover {
    color: var( --dark-color-medium)
}

.outlet{
    box-sizing: border-box;
    height: 100%;
}

.home__content {
    display: flex;
    flex-wrap: wrap-reverse;
    overflow: hidden;
    overflow:-moz-hidden-unscrollable ;
}

.home__content > :first-child{
    background-color: var(--primary-color);
    flex-basis: minmax( 200px, 300px);
    flex-grow: 1;
    max-height: 74vh;
    max-height: 74dvh;
    overflow-y: scroll;
}

.home__content > :last-child{
    flex-basis: 300px;
    flex-grow: 9999;
    min-height: 74vh;
    min-height: 74dvh;
}

.search__section{
    background-color: var(--primary-color);
    height: 10vh;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
}

.search__text-input{
    font-size: 1.2rem;
    border-radius: 15px;
}

.search__submit-input{
    font-size: 1.1rem;
    background-color: var(--secondary-color);
}

.detail__container{
    display: grid;
}

.detail__section{
    height: 100%;
    display: grid;
    justify-content: center;
    align-content: center;
    text-align: center;
    gap: 3rem;
    position: relative;
}
.detail__section ::before{
    content: '';
    position: absolute;
    inset: 0;
    background-image: url('./img/pokeball.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    opacity: 0.05;
    z-index: -1;
}

.detail__section > img {
    position: relative;
    max-height: 300px;
    justify-self: center;
}